@import "./themes/variables.less";

.btn {
  color: @btn-primary-color;
  color: #555555;
  font-size: 1.1rem;
  // line-height: 64px;
  // line-height: normal;
  padding: 0 .5rem;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: @btn-primary-bg;
  }
  .logo {
    height: 32px;
    background: #ffffff33;
    margin: 16px;
  }
}
.img {
  padding: 0 .5rem;
  cursor: pointer;
}
  